* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-image: url("../img/survey-form-background.jpeg");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-size: cover;
  position: relative;
  color: #fff;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(58, 58, 158, 0.8);
  z-index: -1;
}

.form label,
input {
  display: block;
}

.checkbox label,
input,
.radio-buttons label,
input {
  display: inline;
}

.container {
  max-width: 580px;
  margin: auto;
  background-color: rgba(35, 28, 41, 0.8);
  margin-top: 30px;
}

h1,
.paragraph {
  text-align: center;
  color: #fff;
  font-weight: 100;
}

h1 {
  padding-top: 30px;
}

.form {
  padding: 40px;
}

.name {
  width: 100%;
  padding: 6px;
  border: 1px solid rgba(35, 28, 41, 0.8);
  border-radius: 4px;
  margin-bottom: 15px;
}

.textareabox {
  height: 100px;
}

label {
  margin-bottom: 8px;
}

.radio-buttons {
  margin-top: 5px;
  margin-bottom: 20px;
}

.checkbox {
  margin-bottom: 20px;
}

.checkbox p {
  margin-bottom: 5px;
}

.textarea p {
  margin-bottom: 5px;
}

.submit {
  text-align: center;
}

.submit .s {
  width: 100%;
  padding: 6px;
  background: rgb(91, 195, 100);
  border: 1px solid rgb(91, 195, 100);
  color: #fff;
}

@media only screen and (max-width: 700px) {
  .container {
    max-width: 90%;
  }

  body h1,
  p {
    max-width: 90%;
  }
}
